/*Modal css*/
.modal-header {
	color: white;
    background: #0054ab
}

nav {
	margin-bottom: 0px;
	width: 100%;
}
.white{
	color: white !important;
}
@media screen and (max-width: 660px) {
	#businessName {	
    font-family: GillSans-Italic;
    float: left;
    color: white;
    margin-top: 10px;
    font-size: 22px;
}
	.navbar-brand {
		padding-top: 5px !important;
	}
}
@media screen and (min-width: 660px) and (max-width: 830px){
		#businessName {	
    font-family: GillSans-Italic;
    float: left;
    color: white;
    margin-top: 10px;
    font-size: 25px;
}
	.navbar-brand {
		padding-top: 5px !important;
	}
	}
@media screen and (min-width: 830px) {
	#businessName {	
    font-family: brush script MT;
    float: left;
    color: white;
    margin-top: 15px;
    font-size: 30px;
}
}

ul {
	list-style-type:none;
	
	padding : 2px;
}
ul li{
	padding : 5px;
	font-size: 16px;
}
hr {
	margin-top: 10px !important;
}
a:link, .faq-links{
    text-decoration: none !important; 
    color: #888888 !important;
}
a:visited, .faq-links {
	text-decoration: none !important; 
    color: #888888 !important;
}
a:hover, .faq-links{
	text-decoration: none !important; 
	color: #55afef !important;
}
a:active, .faq-links{
	text-decoration: none !important; 
    color: white !important;
}

.footer-titles{
	color: #55afef ;
}
.project-tagline {
	color: red;
}
#mainPhoto, #mainPhotoXs, #faqPhoto, #familyPhoto, #contactUsPhoto{
	max-width: 100%;
	
}
.homePhotoPlaceHolder {
	width: 80%;
}
#contactUsPhoto{
	height: 200px;
	width: 100%;
}
#contactPhotoContainer {
	width: 1450px;
}
.center{
	text-align: center;
}
.contact-glyphicon {
    font-size: 40px;
    color:#55afef;
}
.about-glyphicon { 
	font-size: 45px;
	color:#55afef;
}
textarea { 
	resize: none;
}
html {
    position: relative;
    min-height: 85%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0px;
    width: 100%;
}
/*CSS for coupons*/
.coupons {
	border-style: dashed;
	border-width: 5px;

}
	#couponsDiv {
		height: 700px;
	}
	@media screen and (max-width: 660px) {
.carousel-img{
		height: 225px !important;
		width: 100% !important;
	}
		
	}
	
@media screen and (min-width: 368px){
	#couponsDiv {
		height: 650px;
	}

}
@media screen and (min-width: 736px){
	#couponsDiv {
		height: 460px;
	}

}
@media screen and (min-width: 768px){
	#couponsDiv {
		height: 500px;
	}

}
@media screen and (min-width: 992px){
	#couponsDiv {
		height: 360px;
	}
	.coupons {
		min-height: 225px !important;

}
}
#couponBody{
}
/*CSS for how it works*/
#howItWorksTitle {
	border: none;
	float: none;
	text-align: center;
}
.servicesContainer{
	width: 100%;
	float: left;
}
.stepContainer {
	margin: 15px 0px;
	position: relative;
    float: left;
}
.stepSubDetails {
	    padding: 0px 10px;
}

@media screen and (max-width: 660px) {
	#bedroom-select {
		margin-bottom: 15px;
	}
	.pricingHeaders {
	font-size: 40px;
	float: left;
    border-top: 2px solid #e0e0e0;
}
	.stepTitle{
	font-size: 40px;
	float: left;
	margin-right: 8px;
}
	.stepDetails {
	border: 2px solid #e0e0e0;
	box-shadow: 0px 6px 6px 1px #888888;
	width: 100%;
	float: right;
}
.stepNumber {
	border: 2px solid #e0e0e0;
    border-radius: 50px;
    font-size: 34px;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 7px;
    margin-bottom: 10px;
}
}
@media screen and (min-width: 660px) and (max-width: 830px){
	#bedroom-select {
		margin-bottom: 15px;
	}
	.pricingHeaders {
	font-size: 40px;
	float: left;
    border-top: 2px solid #e0e0e0;
}
	.stepTitle{
	font-size: 40px;
	float: left;
	margin-right: 8px;
}
	.stepDetails {
	border: 2px solid #e0e0e0;
	box-shadow: 0px 6px 6px 1px #888888;
	width: 100%;
	float: right;
}
.stepNumber {
	border: 2px solid #e0e0e0;
    border-radius: 50px;
    font-size: 34px;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-top: 7px;
    margin-bottom: 10px;
}
}
@media screen and (min-width: 830px) {
	.pricingHeaders {
	font-size: 40px;
	float: left;
}
	.stepTitle{
	font-size: 65px;
	float: left;
	margin-right: 8px;
}
	.stepDetails {
	border: 2px solid #e0e0e0;
	box-shadow: 0px 6px 6px 1px #888888;
	width: 75%;
	float: right;
}
.stepNumber {
	border: 2px solid #e0e0e0;
    border-radius: 50px;
    font-size: 50px;
    width: 75px;
    height: 75px;
    text-align: center;
    float: left;
    margin-top: 20px;
}
}


/*CSS for pricing section*/
#costText {
	font-size: 24px;
	margin-bottom: 10px;
	border: 2px solid #e0e0e0;
}
#costReset {
	margin-bottom: 5px;
}
#estimateDisclaimer {
	font-size: 11.5px;
}
.add-icons {
	font-size: 60px !important;
	color: #55afef;
}
.add-div {
	height: 110px !important;
}
.selected {
	background-color: #55afef !important;
	color: white !important;
}
.selected-text {
	color: white !important;
}
#pricingContainer, #summaryContainer, #guranteeContainer, #contactInfoContainer{
	border: 2px solid #e0e0e0;
	box-shadow: 0px 1px 0px 1px #888888;
	margin : 10px 0px;
}
.servicesDiv{
	box-shadow : 0px 1px 0px 0px #888888;
	border: 1px solid #e0e0e0;
	margin : 5px 0px;
	font-size: 10px;
	height: 320px;
}
.servicesDiv ul li:before {
	content: ">"; /* Insert content that looks like bullets */
 	padding-right: 4px;
    color: #0595cc; /* Or a color you prefer */

}
@media screen and (max-width: 660px) {
	.servicesDiv ul li {
		font-size: 13px;
	}
}
@media screen and (min-width: 660px) and (max-width: 830px){
	.servicesDiv ul li {
		font-size: 13px;
	}
}
@media screen and (min-width: 830px) {
	.servicesDiv ul li {
		font-size: 14px;
	}
}
.
.servicesDiv h4 {
	color : #0054a6;
}
/* Contact us */
@media screen and (min-width: 830px) {
	#contactInfoContainer {
	margin-left: 19%;
}
}

/*CSS for Careers modal*/
#careerBody h3 {
	margin-top: 0px;
}
#careerBody p {
	font-weight: bold;
}
#careerBody ul {
	line-height: 5px;
	margin-left: 15px;
}
#careerBody ul li ul li {
	list-style-type: circle;
}
#careerBody ul li{
	list-style-type: disc;
}
#careerBody ul li ul li, #careerBody ul li{
	font-size: 12px;
}
/*CSS for FAQ section*/
.faq-divs {
	padding: 5px;
}
.faq-header {
	padding : 10px;
}
.faq-glyphicon {
	color: #55afef !important;
}
.faq-glyphicon-open{
	color: white !important;
}
.toggle-box{
	display: none;
	/*box-shadow: 5px 5px 2.5px #888888;*/
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.open {
	background-color: #55afef !important;
	color: white !important;
}
.faq-links div{
	margin-bottom: 0px !important;
	border: 0px;
}
